POSTGRES_URL="postgresql://user:pass@db:5432/dbname?schema=public&sslmode=disable&TrustServerCertificate=true"
POSTGRES_DB="dbname"
POSTGRES_USER="dbuser"
POSTGRES_PASSWORD="dbpass"
POSTGRES_PORT=5432
